* {
	max-width: 980px;
    font-family: "Simonetta";
    /*outline: 1px solid red !important*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	height: 100%
}

html {
	margin: auto;
}

body {
	/*background: #181818;*/
    vertical-align: middle;
    /*margin-top: 20px;*/
}

th {
	background-color: #f5f5f5;
	font-size: 120%;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.NavigatorItem {
	
	font-weight: bold;
	font-size: 120%;
}

.NavigationButton {
	 width: 135px;
}


.ViewStaffDiv { 
   margin-top: 50px;
   margin: auto;
}
.ViewStaffBtn { 
   vertical-align: middle;
}

.SubHeading {
	font-weight: bold;
	font-size: 110%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    vertical-align: middle;
}

.modal-body {
 margin: 0 auto 0 auto;
  position: relative;
  padding: 15px;
  overflow-y: auto;
}

.span3 {
	display: inline-block;
	width: 100px !important;
}

.span4 {
	display: inline-block;
	width: 200px !important;
}

.span5 {
	display: inline-block;
	width: 400px !important;
}

.body_gray {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}

.wrap_content {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
}

table {
    width: 100%;
}

td.colIndex {
    width: 10%;
}
td.colTitle {
    width: 60%;
}
td.colAuthor {
    width: 12%;
}
td.colDate {
    width: 8%;
}
td.colView {
    width: 10%;
}

td {
	max-width: 0;
	white-space: nowrap;
 	overflow: hidden;
}
